:root {
    --kiwi-green: #88e23b;
    --cream: #ebe480;
    --blue: #043c6e;
    --endo-green: #60a85f;
    --mystery-gray: #a6cccc;
    --calla-green: #6b7132;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}