.characters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.character {
  background-color: rgba(128, 128, 128, 0.5); /* Cambia a un color gris transparente */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px;
}

.character:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.character-img {
  border: 2px solid var(--blue);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.character-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character-data h3 {
  font-size: 1.2em;
  margin: 0;
  color: var(--kiwi-green);
}

.character-data p {
  margin: 5px 0;
  color: var(--mystery-gray);
  font-weight: 500;
}

.search-container {
  width: fit-content;
  margin: 0 auto;
}

.search-container-inner {
  display: flex;
  align-items: center; 
}

.input-container {
  position: relative;
}

input[type="text"] {
  width: 100%;
  max-width: 800px;
  height: 40px; 
  padding: 10px 40px; 
  margin: 20px 0;
  border-radius: 8px;
  font-size: 1em;
  outline: none;
  background-color: rgba(128, 128, 128, 0.5);
  color: var(--kiwi-green);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s, border-color 0.2s;
}

input[type="text"]::placeholder {
  color: var(--kiwi-green);
}

input[type="text"]:focus {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-color: var(--kiwi-green);
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--kiwi-green);
  pointer-events: none; 
}

.character-details-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; 
}

.character-details {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
  position: relative;
  text-align: center;
  overflow-y: auto;
  max-height: 90%;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
  transition: color 0.3s ease;
}

.close-button:hover {
  color: #ff4d4d;
}

.character-detail-img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#background-video::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.content {
  position: relative;
  z-index: 1;
  padding: 20px;
  color: white;
}

.status-icon {
  display: inline-block;
  width: 10px; 
  height: 10px; 
  border-radius: 50%; 
  margin-left: 5px;
}

.alive {
  background-color: green;
}

.unknown {
  background-color: gray; 
}

.dead {
  background-color: red;
}

.download-button {
  background-color: #4CAF50;
  margin-bottom: 20px;
  color: white; 
  padding: 10px 20px;
  border: none; 
  border-radius: 5px; 
  font-size: 16px;
  font-weight: bold; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  margin-top: 10px; 
}

.download-button:hover {
  background-color: #45a049; 
}

.download-button:active {
  background-color: #3d8b41; 
}

.download-button:focus {
  outline: none; 
  box-shadow: 0 0 5px #45a049; 
}

@media (max-width: 600px) {
  .character-details {
    max-width: 95%;
    padding: 15px;
  }

  .close-button {
    font-size: 20px;
  }
}